{% extends 'TrismegisteSocialBundle:Admin:layout.html.twig' %}

{% form_theme filter '::inline_form.html.twig' %}

{% block meta_title %}
    {{ parent() }} | User administration
{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-1">
            {{ form(filter) }}
        </div>
        <div class="pure-u-1">
            <table class="pure-table pure-table-horizontal pure-table-striped">
                <tr>
                    <th>Nickname</th>
                    <th>Registered</th>
                    <th>Followed</th>
                    <th>Likes</th>
                    <th>Published</th>
                    <th>Likes on Publish</th>
                    <th>Ticket</th>
                </tr>
                {% for netizen in listing %}
                    <tr>
                        <td><a href="{{ path('admin_netizen_show', {id: netizen.id}) }}">{{ netizen.author.nickname }}</a></td>
                        <td>{{ netizen.profile.joinedAt|timeago }}</td>
                        <td>{{ netizen.followerCount|si }}</td>
                        <td>{{ netizen.fanCount|si }}</td>
                        <td>{{ netizen.profile.publishingCounter|si }}</td>
                        <td>{{ netizen.profile.likeCounter|si }}</td>
                        <td>
                            {% if netizen.hasValidTicket() %}
                                <i class="icon-ok"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}