{# Welcome to new user : an app tour with Sheperd #}
{% extends 'TrismegisteSocialBundle:Content:index.html.twig' %}

{% block meta_title %}
    {{ parent() }} | Explore
{% endblock %}

{% block content %}
    {% include 'TrismegisteSocialBundle:Discover:discover_last_contents.html.twig' %}

    <ol id="prologue" style="display: none;">
        <li data-target="#menuLink">Open the menu by clicking on this</li>
        <li data-target="#menuLink span">The menu is open</li>
    </ol>

    <ol id="tour" style="display: none;">
        <li data-target="#menu ul li a:eq(0)">
            View your contents by clicking on "Myself"
        </li>
        <li data-target="#menu ul li a:eq(1)">
            Create a new message
        </li>
        <li data-target="#menu ul li a:eq(2)">
            Create a message with your geolocation
        </li>
        <li data-target="#menu ul li a:eq(3)">
            Send a picture
        </li>
        <li data-target="#menu ul li a:eq(4)">
            Send an address of Youtube video
        </li>
        <li data-target=".topbar ul li:eq(0) a">
            Filter contents created by users you're following
        </li>
        <li data-target=".topbar ul li:eq(1) a" data-angle="180">
            Filter contents created by users who are following you
        </li>
        <li data-target=".topbar ul li:eq(2) a" data-angle="225">
            Filter contents created by friends : a friend
            is a follower and a following at the same time.
        </li>
        <li data-target=".publishing header">
            Click on an avatar to view a user's wall.
        </li>
        <li data-target=".publishing .pub-action a:eq(0)">
            Send a comment by clicking on <i class="icon-reply"></i>
        </li>
        <li data-target=".publishing .pub-action a:eq(1)">
            Repeat/relay a message by clicking on <i class="icon-retweet"></i>
        </li>
        <li data-target=".publishing .pub-action a:eq(2)" data-angle="225">
            Click on <i class="icon-heart"></i> to like/unlike a message !
        </li>
        <li data-target="#menu ul li a:eq(6)">
            Edit your avatar and your profile
        </li>
        <li data-target="#menu ul li a:eq(7)">
            Read and send private messages
        </li>
        <li data-target="#menu ul li a:eq(5)">
            Search &amp; explore contents from other users
        </li>
    </ol>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/trismegistesocial/js/crumble/jquery.browser.min.js') }}"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/crumble/jquery.grumble.min.js') }}"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/crumble/jquery.crumble.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            if ($('#menuLink').css('display') === 'block') {
                $('#prologue').crumble({
                    onStep: function () {
                        if ($('#menu').css('left') !== '150px') {
                            $('#menuLink').trigger('click');
                        }
                    },
                    onFinish: function () {
                        $('#tour').crumble({grumble: {distance: -15}});
                    }
                });
            } else {
                $('#tour').crumble({grumble: {distance: -15}});
            }
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/grumble.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/crumble.css') }}"/>
{% endblock %}
