{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block meta_title %}
    {{ parent() }} | Explore
{% endblock %}

{% block content %}
    <div class="entry">
        <article>
            <h2>Search</h2>
            <form class="pure-form" action="{{ path('search_listing') }}" method="GET">
                <input name="keyword" required="true" type="text" placeholder="Search..." value="{{ keyword|default('') }}"/>
                <button type="submit" class="pure-button"><i class="icon-search"></i></button>
            </form>
        </article>
    </div>

    <div class="entry">
        <article>
            <h2>Recently registered</h2>
            {% for netizen in last_registered %}
                {{ netizen.username }}
            {% endfor %}
        </article>
    </div>

    <div class="entry">
        <article>
            <h2>Last contents</h2>
        </article>
    </div>
    {% for content in last_content %}
        {% include 'TrismegisteSocialBundle:Content:publishing_show.html.twig' %}
        <hr/>
    {% endfor %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .entry article {
            margin-bottom: 1.6em;
        }
    </style>
{% endblock %}