<div class="pure-g private-message entry">
    <div class="pure-u-1-5">
        <header>
            <img src="{{ path('netizen_avatar', {filename: author.avatar}) }}" class="pure-img rounded"/>
        </header>
    </div>
    <div class="pure-u-4-5">
        <div class="right">
            {% block pm_action %}
            {% endblock %}
        </div>
        <h4>{{ author.nickname }} <time datetime="{{ message.sentAt|date() }}">{{ message.sentAt | timeago }}</time></h4>
        {{ message.message }}
    </div>
</div>