<div class="pure-g private-message entry">
    <div class="pure-u-1-5">
        <header>
            <img src="{{ path('picture_get', {storageKey: author.avatar, size:'tiny'}) }}" class="pure-img rounded"/>
        </header>
    </div>
    <div class="pure-u-4-5">
        <article>
            <h4>{{ author.nickname }} <time datetime="{{ message.sentAt|date() }}">{{ message.sentAt | timeago }}</time></h4>
                    {{ message.message }}
            <div class="right">
                {% block pm_action %}
                {% endblock %}
            </div>
        </article>
    </div>
</div>