<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Rpgraph{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    </head>
    <body>

        {% embed '::navbar.html.twig' %}
        {% endembed %}

        <div class="container">
            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-error">
                {{ flashMessage }}
            </div>
            {% endfor %}
                
            {% block content %}{% endblock %}
            <hr/>
            <footer>
                {% block footer %}
                <p>Creative Commons &middot; CC BY-SA 3.0 &middot; 2014</p>
                {%endblock %}
            </footer>
        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('js/jquery-1.8.3.min.js') }}"><\/script>')</script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
