{% extends 'form_div_layout.html.twig' %}

{% block form_errors %}
{% if errors|length > 0 %}
    <small class="error">
    {% for error in errors %}
        {{ error.message }}{% if not loop.last %}<br />{% endif %}
    {% endfor %}
    </small>
{% endif %}
{% endblock form_errors %}

{% block form_row -%}
<div class="row">
    <div class="small-12 columns">
        <label {% if form.vars.errors|length > 0 %}class="error"{% endif %}>{{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </label>
    </div>
</div>
{%- endblock form_row %}

{% block date_widget %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% if attr.class is defined %}
            {% set attr = attr|merge({'class': 'row ' ~ attr.class }) %}
        {% else %}
            {% set attr = attr|merge({'class': 'row'}) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
            '{{ year }}':  '<div class="medium-2 large-2 columns">' ~ form_widget(form.year) ~ '</div>',
            '{{ month }}': '<div class="medium-2 large-2 columns">' ~ form_widget(form.month) ~ '</div>',
            '{{ day }}':   '<div class="medium-2 large-2 columns">' ~ form_widget(form.day) ~ '</div>'
            })|raw }}
            <div class="medium-3 large-9 columns"></div>
        </div>
    {% endif %}
{% endblock date_widget %}