{# layout for admin #}
{% extends 'TrismegisteSocialBundle::sidebar.html.twig' %}

{% block meta_title %}
    {{ parent() }} | Administration
{% endblock %}

{%block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/backend.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/alertify.css') }}" />
{% endblock %}

{% block responsive_sidebar %}
    <ul>
        {{ pure.menu_item('admin_dashboard', {}, 'Admin' ) }}
        <li class="menu-item-divided"></li>
            {{ pure.menu_item('admin_abusive_listing', {}, 'Abuse/spam') }}
            {{ pure.menu_item('admin_netizen_listing', {}, 'Users') }}
            {{ pure.menu_item('admin_coupon_listing', {}, 'Coupons') }}
            {{ pure.menu_item('admin_coupon_create', {}, 'New coupon') }}
        <li class="menu-item-divided"></li>
            {{ pure.menu_item('admin_entrancefee_edit', {}, 'Fee') }}
            {{ pure.menu_item('admin_dynamic_config_edit', {}, 'Preferences') }}
        <li class="menu-item-divided"></li>
            {{ pure.menu_item('content_index', {}, 'Front') }}
            {{ pure.menu_item('trismegiste_logout', {}, 'Logout') }}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/trismegistesocial/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/alertify/alertify.js') }}"></script>
    {% include 'TrismegisteSocialBundle::js_flash.html.twig' %}
{% endblock %}