{# layout for admin #}
{% extends 'TrismegisteSocialBundle::sidebar.html.twig' %}

{% block meta_title %}
    {{ parent() }} | Administration
{% endblock %}

{%block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/backend.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/alertify.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/fontello.css') }}" />
{% endblock %}

{% block responsive_sidebar %}
    <ul>
        {% if is_granted('ROLE_MANAGER') %}
            {{ pure.menu_item('admin_dashboard', {}, 'Dashboard' ) }}
        {% endif %}
        <li class="menu-item-divided"></li>
        {% if is_granted('ROLE_MODERATOR') %}
            {{ pure.menu_item('admin_abusive_pub_listing', {}, 'Posts moderation') }}
            {{ pure.menu_item('admin_abusive_comm_listing', {}, 'Comments mod.') }}
        {% endif %}
        {% if is_granted('ROLE_MANAGER') %}
            {{ pure.menu_item('admin_netizen_listing', {}, 'Users') }}
            {{ pure.menu_item('admin_coupon_listing', {}, 'Coupons') }}
            {{ pure.menu_item('admin_coupon_create', {}, 'New coupon') }}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="menu-item-divided"></li>
            {{ pure.menu_item('admin_entrancefee_edit', {}, 'Fee') }}
            {{ pure.menu_item('admin_dynamic_config_edit', {}, 'Preferences') }}
            {{ pure.menu_item('admin_oauthprovider_edit', {}, 'OAuth config') }}
        {% endif %}
        <li class="menu-item-divided"></li>
        {{ pure.menu_item('content_index', {}, 'Myself') }}
        {{ pure.menu_item('trismegiste_oauth_logout', {}, 'Logout') }}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/trismegistesocial/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/alertify/alertify.js') }}"></script>
    {% include 'TrismegisteSocialBundle::js_flash.html.twig' %}
{% endblock %}