{# layout for admin #}
{% extends 'TrismegisteSocialBundle::sidebar.html.twig' %}

{% block meta_title %}
    {{ parent() }} | Administration
{% endblock %}

{%block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/backend.css') }}"/>
{% endblock %}

{% block responsive_sidebar %}
    <ul>
        {{ pure.menu_item('admin_dashboard', {}, 'Admin' ) }}
        <li class="menu-item-divided"></li>
            {{ pure.menu_item('abusive_listing', {}, 'Abuse/spam') }}
            {{ pure.menu_item('netizen_listing', {}, 'Users') }}
            {{ pure.menu_item('entrancefee_edit', {}, 'Fee') }}
            {{ pure.menu_item('coupon_listing', {}, 'Coupons') }}
        <li class="menu-item-divided"><a href="{{ path('trismegiste_logout') }}">Logout</a></li>
    </ul>
{% endblock %}
