{% extends 'TrismegisteSocialBundle:Guest:layout.html.twig' %}

{% block full_body %}
    <div class="content">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-2">
                <h4>Welcome to</h4>
                <h1>{{ config.appTitle }}</h1>
                <h4>Currently 100k users</h4>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                <h3>Please authenticate yourself</h3>
                <form action="{{ path('trismegiste_logincheck') }}" method="post" class="pure-form pure-form-stacked">
                    {% if error %}
                        <ul class="form-error">
                            <li>{{ error.message }}</li>
                        </ul>
                    {% endif %}
                    <label for="username">Nickname</label>
                    <input type="text" id="username" name="_username" />

                    <label for="password">Password</label>
                    <input type="password" id="password" name="_password" />

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                    <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                </form>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-2"></div>
            <div class="pure-u-1 pure-u-md-1-2">
                <h3>Not already registered ?</h3>
                <a href="{{ path('guest_register') }}" class="pure-button">Register here</a>
            </div>
        </div>
    </div>
{% endblock %}
