{# Base template for the front, user must be logged #}
{% extends 'TrismegisteSocialBundle::sidebar.html.twig' %}

{%block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/alertify.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/fontello.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/jquery.dropdown.css') }}" />
{% endblock %}

{% block responsive_sidebar %}
    <a href="{{ path('wall_index', {wallNick: app.user.username, wallFilter:'self'}) }}">{{ app.user.username }}</a>

    <ul>
        <li><a href="{{ path('publishing_create', {type:"small"}) }}#anchor-form">Message</a></li>
        <li><a href="{{ path('publishing_create', {type:"status"}) }}#anchor-form">Status</a></li>
        <li><a href="{{ path('publishing_create', {type:"picture"}) }}#anchor-form">Picture</a></li>
        <li><a href="{{ path('publishing_create', {type:"video"}) }}#anchor-form">Video</a></li>
        <li class="menu-item-divided"><a href="{{ path('private_create') }}">Private message</a></li>
        <li class="menu-item-divided"><a href="{{ path('trismegiste_logout') }}">Logout</a></li>
    </ul>
{% endblock %}

{% block topbar %}
    <ul>
        <li><a href="{{ path('wall_index', {wallNick: app.user.username, wallFilter:'self'}) }}">Me</a></li>
        <li><a href="{{ path('wall_index', { wallNick: app.user.username, wallFilter: 'following' }) }}">Following</a></li>
        <li><a href="{{ path('wall_index', { wallNick: app.user.username, wallFilter: 'friend' }) }}">Friends</a></li>
    </ul>
{% endblock %}

{% block footer %}
    Powered by <a href="{{ path('guest_about') }}">iinano</a> - 2014 - MIT license
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/trismegistesocial/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/beautiful/jquery.dropdown.min.js') }}"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/alertify/alertify.js') }}"></script>
    <script>
        // flash message
                (function () {
        {{ app.session.flashbag.get('notice')|json_encode()|raw }}.forEach(function(text) {
                    alertify.success(text);
                    });
        {{ app.session.flashbag.get('warning')|json_encode()|raw }}.forEach(function(text) {
                            alertify.error(text);
                            });
                    })();
    </script>
{% endblock %}