{# Base template for the front, user must be logged #}
{% extends 'TrismegisteSocialBundle::sidebar.html.twig' %}

{%block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/alertify.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/fontello.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/jquery.dropdown.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/jquery.lightbox.css') }}" />
{% endblock %}

{% block responsive_sidebar %}
    <ul>
        {{ pure.menu_item('wall_index', { wallNick: app.user.username, wallFilter: 'self' }, 'Myself' ) }}
        <li class="menu-item-divided"></li>
            {{ pure.menu_item('publishing_create', {type:"small"}, 'Message', '#anchor-form' ) }}
            {{ pure.menu_item('publishing_create', {type:"status"}, 'Status', '#anchor-form' ) }}
            {{ pure.menu_item('publishing_create', {type:"picture"}, 'Picture', '#anchor-form' ) }}
            {{ pure.menu_item('publishing_create', {type:"video"}, 'Video', '#anchor-form' ) }}
        <li class="menu-item-divided"></li>
            {{ pure.menu_item('private_create', {'author':''}, 'Private message') }}
        <li class="menu-item-divided"></li>
            {{ pure.menu_item('netizen_show', {author: app.user.username}, 'My profile') }}
        <li class="menu-item-divided"><a href="{{ path('trismegiste_oauth_logout') }}">Logout</a></li>
    </ul>
{% endblock %}

{% block topbar %}
    <ul>
        {{ pure.menu_item('wall_index', { wallNick: app.user.username, wallFilter: 'following' }, 'Following' ) }}
        {{ pure.menu_item('wall_index', { wallNick: app.user.username, wallFilter: 'follower' }, 'Followers' ) }}
        {{ pure.menu_item('wall_index', { wallNick: app.user.username, wallFilter: 'friend' }, 'Friends' ) }}
        <li>
            <form class="pure-form pure-g" action="{{ path('search_listing') }}" method="GET">
                <div class="pure-u-2-3">
                    <input name="keyword" required="true" type="text" class="pure-input-1" placeholder="Search..." value="{{ keyword|default('') }}"/>
                </div>
                <div class=pure-u-1-3">
                    <button type="submit" class="pure-button"><i class="icon-search"></i></button>
                </div>
            </form>
        </li>
    </ul>
{% endblock %}

{% block footer %}
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li><a href="#anchor-topbar">Top</a></li>
                {{ pure.menu_item('wall_index', { wallNick: app.user.username, wallFilter: 'following' }, 'Following' ) }}
                {{ pure.menu_item('wall_index', { wallNick: app.user.username, wallFilter: 'follower' }, 'Followers' ) }}
                {{ pure.menu_item('wall_index', { wallNick: app.user.username, wallFilter: 'friend' }, 'Friends' ) }}
            <li><a href="{{ path('guest_about') }}">Powered by iinano</a></li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/trismegistesocial/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/beautiful/jquery.dropdown.min.js') }}"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/alertify/alertify.js') }}"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/duncanmcdougall/jquery.lightbox.min.js') }}"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/fluidvids/fluidvids.min.js') }}"></script>
    {% include 'TrismegisteSocialBundle::js_flash.html.twig' %}
{% endblock %}