{# This is a layout with a responsive sidebar #}
{% extends 'TrismegisteSocialBundle::purecss.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/trismegistesocial/css/side-menu.css') }}"/>
{% endblock %}

{% block full_body %}
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu pure-menu-open">
                {% block responsive_sidebar %}
                {% endblock %}
            </div>
        </div>

        <div id="main">
            <div class="topbar pure-menu pure-menu-open pure-menu-horizontal">
                {% block topbar %}
                {% endblock %}
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
                <hr/>
                <footer>
                    {% block footer %}
                    {% endblock %}
                </footer>
            </div>

        </div>
    </div>
{% endblock full_body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/trismegistesocial/js/purecss/ui.js') }}"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/jquery/jquery.min.js') }}"></script>
{% endblock %}

