{% extends 'TrismegisteSocialBundle:Admin:AbuseReport/generic_listing.html.twig' %}

{% block listing_row %}
    {% for report in listing %}
        <tr>
            <td><input type="checkbox" class="pure-checkbox"/></td>
            <td>
                <a href="{{ path('pub_permalink', {id: report._id}) }}#anchor-{{ report._id }}-{{ report.commentary.uuid }}">
                    {{ report.commentary.message }}
                </a>
            </td>
            <td>{{ report.commentary.owner.nickname }}</td>
            <td class="text-center">{{ report.commentary.abusiveCount }}</td>
        </tr>
    {% endfor %}
{% endblock %}