{% extends 'TrismegisteSocialBundle:Admin:layout.html.twig' %}

{% block meta_title %}
    {{ parent() }} | Abuse report & moderation
{% endblock %}

{% block _admin_abusereport_action_action_row %}
    <div class="pure-g">
        <div class="pure-u-1-4">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1">
            {{ form_start(form) }}
            <table class="pure-table pure-table-horizontal pure-table-striped abuse-listing">
                <tr>
                    <th></th>
                    <th>Content</th>
                    <th>Author</th>
                    <th>Reported</th>
                </tr>
                {{ form_row(form.selection_list) }}
            </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
