{# avatar icon + dropdown with mini content #}
{% if app.user.username == author.nickname %}
    <img src="{{ path('netizen_avatar', {filename: author.avatar}) }}" class="pure-img rounded"/>
{% else %}
    {% set avatar_dropdown_counter = author.nickname ~ random() %}
    <a href="#" data-dropdown="#{{ avatar_dropdown_counter }}">
        <img src="{{ path('netizen_avatar', {filename: author.avatar}) }}" class="pure-img rounded"/>
    </a>
    <div class="dropdown dropdown-tip" id="{{ avatar_dropdown_counter }}">
        <ul class="dropdown-menu">
            {% include 'TrismegisteSocialBundle:Netizen:relation_type.html.twig' with {nickname: author.nickname} %}
            <li><a href="{{ path('wall_index', {wallNick: author.nickname, wallFilter: 'self'}) }}">View wall</a></li>
            <li><a href="{{ path('wall_index', {wallNick: author.nickname, wallFilter: 'following'}) }}">View following</a></li>
            <li><a href="{{ path('netizen_show', {author: author.nickname}) }}">View profile</a></li>
                {% if is_granted('LISTENER', author) %}
                <li><a href="{{ path('private_create', {author: author.nickname}) }}">Send a PM</a></li>
                {% endif %}
        </ul>
    </div>

{% endif %}
