{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block page_title %}
{{ parent() }} | My profile | My Avatar
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-6 medium-8 small-10 column">
        <h3>Pick or take a picture</h3>
        <div id="image-cropper">
            <div class="select-image-btn button secondary justify-cropper"><i class="fi-photo"></i> Select new image</div>
            <input type="file" class="cropit-image-input" capture="camera"/>
            <div class="cropit-image-preview"></div>
            <div class="image-size-label text-center justify-cropper">Resize image</div>
            <input type="range" class="cropit-image-zoom-input justify-cropper" />
        </div>
        <button id="send-crop" class="button justify-cropper">Send</button>
    </div>
    <div class="large-6 medium-4 small-2 column">
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/trismegistesocial/js/jquery.cropit.min.js') }}"></script>
<script>
    $(function() {
        $('#image-cropper').cropit({
            width: 300,
            height: 300,
            onImageLoaded: function() {
                // center image on load
                var imageCropper = $('#image-cropper');
                var dimension = imageCropper.cropit('imageSize');
                var lessLarge = Math.min(dimension.width, dimension.height);
                var ratio = imageCropper.cropit('zoom');
                imageCropper.cropit('offset', {x: (lessLarge - dimension.width) * ratio / 2 , y: (lessLarge - dimension.height) * ratio / 2});
            }
        });
        $('.select-image-btn').click(function() {
            $('.cropit-image-input').click();
        });
        $('#send-crop').on('click', function() {
            $.ajax({
                type: 'POST',
                url: '{{ path('netizen_avatar_edit') }}',
                data: {content: $('#image-cropper').cropit('export', {
                    type: 'image/jpeg',
                    quality: .9,
                    originalSize: false
                })}
            }).done(function(data) {
                window.location.replace('{{ path('netizen_show', {author: app.user.username}) }}');
            }).fail(function() {
                alert('Your browser does not support this feature');
            });
        });
    });
</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .cropit-image-preview {
            background-color: #f8f8f8;
            background-size: cover;
            border: 1px solid #ccc;
            border-radius: 3px;
            cursor: move;
        }

        input.cropit-image-input {
            visibility: hidden;
            display: none;
        }

        .image-size-label {
            margin-top: 0.6rem;
        }

        .justify-cropper {
            width: 300px;
        }
    </style>
{% endblock %}