{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block page_title %}
{{ parent() }} | My profile | My Avatar
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-6 small-12 column">
        <h3>Pick or take a picture</h3>
        {{ form_start(form) }}
        <div id="image-cropper">
            <div class="select-image-btn button secondary">Select new image</div>
            {{ form_widget(form.picture, {attr: {class:'cropit-image-input'}}) }}
            <div class="cropit-image-preview"></div>
            <div class="image-size-label">Resize image</div>
            <input type="range" class="cropit-image-zoom-input" />
        </div>
        {{ form_end(form) }}
    </div>
    <div class="large-6 small-12 column">
        <h3>or take a shot with your webcam</h3>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/trismegistesocial/js/jquery.cropit.min.js') }}"></script>
<script>
    $(function() {
        $('#image-cropper').cropit();
        $('.select-image-btn').click(function() {
            $('.cropit-image-input').click();
        });
    });
</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .cropit-image-preview {
            width: 300px;
            height: 300px;
            background-color: #f8f8f8;
            background-size: cover;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-top: 7px;
            cursor: move;
        }            

        input.cropit-image-input {
            visibility: hidden;
            display: none;
        }

        .image-size-label {
            margin-top: 0.6rem;
        }
    </style>
{% endblock %}