{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block page_title %}
{{ parent() }} | My profile | My Avatar
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-6 small-12 column">
        <h3>Pick or take a picture</h3>
        <div id="image-cropper">
            <div class="select-image-btn button secondary">Select new image</div>
            <input type="file" class="cropit-image-input"/>
            <div class="cropit-image-preview"></div>
            <div class="image-size-label">Resize image</div>
            <input type="range" class="cropit-image-zoom-input" />
        </div>
        <button id="send-crop" class="button">Send</button>
    </div>
    <div class="large-6 small-12 column">
        <h3>or take a shot with your webcam</h3>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/trismegistesocial/js/jquery.cropit.min.js') }}"></script>
<script>
    $(function() {
        $('#image-cropper').cropit({
            width: 300,
            height: 300
        });
        $('.select-image-btn').click(function() {
            $('.cropit-image-input').click();
        });
        $('#send-crop').on('click', function() {
            $.ajax({
                type: 'POST',
                url: '{{ path('netizen_avatar_edit') }}',
                data: {content: $('#image-cropper').cropit('export', {
                    type: 'image/jpeg',
                    quality: .9,
                    originalSize: true  // the resize is made on the server
                })}
            }).done(function() {
                window.location.replace('{{ path('netizen_show', {author: app.user.username}) }}');
            }).fail(function() {
                alert('Your browser does not support this feature');
            });
        });
    });
</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .cropit-image-preview {
            background-color: #f8f8f8;
            background-size: cover;
            border: 1px solid #ccc;
            border-radius: 3px;
            cursor: move;
        }            

        input.cropit-image-input {
            visibility: hidden;
            display: none;
        }

        .image-size-label {
            margin-top: 0.6rem;
        }
    </style>
{% endblock %}