{% extends 'TrismegisteSocialBundle:Netizen:profile_layout.html.twig' %}

{% block profile_content %}
    <h2>{{ author.nickname }}</h2>
    <h3>{{ profile.fullName }}</h3>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            Gender: {{ profile.gender|gender }}<br/>
            Location: {{ profile.location }}<br/>
            {# this app behaves like a gentleman, sorry guys : #}
            Born the: {{ profile.dateOfBirth|date(profile.gender == 'xx' ? 'F, jS' : "F, jS 'y") }}<br/>
            Born at: {{ profile.placeOfBirth }}
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            Registered at: {{ profile.joinedAt|timeago }}<br/>
            Content counter: {{ profile.publishingCounter }}<br/>
            Commentary counter: {{ profile.commentaryCounter }}<br/>
            {% if lastTicket is not null %}
                Next payment: {{ lastTicket.expiredAt|timeago }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="pure-g entry">
        <div class="pure-u-1 pure-u-md-1-2 user-listing">
            <hr/>
            <a id="profile-following"></a>
            <article>
                <h2>Following</h2>
                {% include 'TrismegisteSocialBundle:Netizen:follow_listing.html.twig' with {listing: following} %}
            </article>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 user-listing">
            <hr/>
            <a id="profile-follower"></a>
            <article>
                <h2>Followers</h2>
                {% include 'TrismegisteSocialBundle:Netizen:follow_listing.html.twig' with {listing: follower} %}
            </article>
        </div>
    </div>
{% endblock content %}