{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block content %}
<div class="large-4 small-12 column">
    <img src="{{ path('netizen_avatar', {filename: author.avatar}) }}"/>
</div>
<div class="large-8 column">
    <h2>{{ author.nickname }}</h2>
    <ul class="vcard">
        <li class="fn">{{ profile.fullName }}</li>
        <li class="">{{ profile.gender }}</li>
        <li class="locality">{{ profile.city }}</li>
        <li class="email">{{ profile.email }}</li>
        <li>{{ profile.dateOfBirth|date("Y/m/d") }}</li>
        <li>{{ profile.placeOfBirth }}</li>
    </ul>
</div>
{% endblock content %}