{% extends '::base.html.twig' %}

{% block title %}{{ vertex.getTitle() }}{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h2>{{ vertex.getInfoType()|capitalize }} {{ vertex.getTitle() }}</h2>
        <h3>{{ vertex.getHeadline() }}</h3>
        {{ vertex.getDescription()|markdown|raw }}
    </div>
    <div class="span6">
        <h2>GM only</h2>
        {{ vertex.getGmOnly()|markdown|raw }}
    </div>
</div>
{% render(controller('TrismegisteFrontBundle:Vertex:getBackLink', {vertex: vertex})) %}
<hr/>
<a href="{{ path('vertex_edit', {id: vertex.id} ) }}" class="btn"><i class="icon-edit"></i> Edit</a>
{% endblock %}
