{# template for viewing one commentary entity #}
<div class="row">
    <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
    <div class="large-10 columns">
        {% set dropdown_id = 'drop' ~ content.id ~ comment.uuid %}
        <a href="#" class="right" data-options="align:left" data-dropdown="{{ dropdown_id }}"><i class="fi-widget"></i></a>
        <ul id="{{ dropdown_id }}" class="f-dropdown" data-dropdown-content>
            <li><a href="{{ path('pub_commentary_edit', {id: content.id, uuid: comment.uuid}) }}">Edit</a></li> 
            <li><a href="{{ path('pub_commentary_delete', {id: content.id, uuid: comment.uuid}) }}">Delete</a></li>
            <li><a href="#">Report</a></li>
        </ul>
        <a id="anchor-{{ content.id }}-{{ comment.uuid }}"></a>
        <h6 class="subheader">
            {{ comment.author.nickname }}
            <small>{{ comment.lastEdited | timeago }}</small>
        </h6>
        <p>{{ comment.message }}</p>
        {% include 'TrismegisteSocialBundle:Content:commentary_like_button.html.twig' %}
    </div>
</div>
