{# template for viewing one commentary entity #}
<div class="pure-g commentary">
    <a id="anchor-{{ content.id }}-{{ comment.uuid }}"></a>
    <div class="pure-u-1-4 pure-u-md-1-5">
        <header>
            {% include 'TrismegisteSocialBundle:Netizen:avatar_popup.html.twig' with {author: comment.author } %}
        </header>
    </div>
    <div class="pure-u-1-1 pure-u-md-4-5">
        <article>
            <h4>{{ comment.author.nickname }}<time datetime="{{ comment.lastEdited|date() }}">{{ comment.lastEdited | timeago }}</time></h4>

            {{ comment.message|auto_url }}

            <nav>
                <div class="pub-action pure-g">
                    <div class="pure-u-1-2">
                        {% include 'TrismegisteSocialBundle:Content:ajax/commentary_like_button.html.twig' %}
                    </div>
                    <div class="pure-u-1-2">
                        {% set dropdown_id = 'drop' ~ content.id ~ comment.uuid %}
                        <a href="#" title="More..." data-dropdown="#{{ dropdown_id }}">
                            <i class="icon-cog"></i>
                        </a>
                    </div>
                </div>
                <form action="{{ path('pub_commentary_delete', {wallNick: wallNick, wallFilter: wallFilter, id: content.id, uuid: comment.uuid}) }}"
                      method="POST"
                      style="display:none;"
                      id="form-delete-{{dropdown_id}}">
                    <input type="hidden" name="_method" value="DELETE"/>
                </form>
                <div id="{{ dropdown_id }}" class="dropdown dropdown-anchor-right">
                    <ul class="dropdown-menu">
                        {% if is_granted('OWNER', comment) %}
                            <li><a href="{{ path('pub_commentary_edit', {wallNick: wallNick, wallFilter: wallFilter, id: content.id, uuid: comment.uuid}) }}#anchor-form">Edit</a></li>
                            <li><a href="#" data-social-delete="form-delete-{{dropdown_id}}">Delete</a></li>
                            {% endif %}
                        <li><a data-social-report href="{{ path('commentary_abusivereport', {action: 'add', wallNick: wallNick, wallFilter: wallFilter, id: content.id, uuid: comment.uuid}) }}">Report abuse/spam</a></li>
                    </ul>
                </div>

            </nav>
        </article>
    </div>
</div>
