{# template for viewing one commentary entity #}
<div class="row commentary">
    <a id="anchor-{{ content.id }}-{{ comment.uuid }}"></a>
    <div class="large-2 medium-2 small-3 columns">
        {% include 'TrismegisteSocialBundle:Netizen:avatar_popup.html.twig' with {author: comment.author } %}
    </div>
    <div class="large-10 medium-10 columns">
        {% set dropdown_id = 'drop' ~ content.id ~ comment.uuid %}
        <ul id="{{ dropdown_id }}" class="f-dropdown" data-dropdown-content>
            {% if is_granted('OWNER', comment) %}
                <li><a href="{{ path('pub_commentary_edit', {wallNick: wallNick, wallFilter: wallFilter, id: content.id, uuid: comment.uuid}) }}">Edit</a></li>
                <li><a href="{{ path('pub_commentary_delete', {wallNick: wallNick, wallFilter: wallFilter, id: content.id, uuid: comment.uuid}) }}">Delete</a></li>
                {% endif %}
            <li><a href="{{ path('commentary_abusivereport', {action: 'add', wallNick: wallNick, wallFilter: wallFilter, id: content.id, uuid: comment.uuid}) }}">Report abuse or spam</a></li>
        </ul>
        <h6 class="subheader">
            {{ comment.author.nickname }}
            <small>{{ comment.lastEdited | timeago }}</small>
        </h6>
        <p>{{ comment.message }}</p>
        <h4 class="content-actions-footer">
            {% include 'TrismegisteSocialBundle:Content:ajax/commentary_like_button.html.twig' %}
            <a href="#" title="More..." data-dropdown="{{ dropdown_id }}">
                <i class="fi-widget"></i>
            </a>
        </h4>    </div>
</div>
