{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block meta_title %}
    {{ parent() }} | {{ wallNick }}'s wall
{% endblock %}

{% block content %}

    {% block wall_profile %}
        <div class="pure-g entry">
            <div class="pure-u-1 pure-u-md-1-2">
                <header>
                    <a href="{{ path('netizen_show', {author: wallNick} ) }}"><img src="{{ path('netizen_avatar', {filename: wallUser.author.avatar} ) }}"  class="pure-img rounded"/></a>
                </header>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                <article>
                    <h3>{{ wallUser.profile.fullName }} (@{{ wallNick }})</h3>
                    <nav>
                        <a href="#" class="pure-button"><i class="icon-heart"></i>  {{ wallUser.fanCount }}</a>
                        <a href="#" class="pure-button">Follow</a>
                        <a href="#" class="pure-button">Edit</a>
                    </nav>
                    <h4>Following {{ wallUser.followingCount }}</h4>
                    <h4>Followers {{ wallUser.followerCount }}</h4>
                    <h4>Friends {{ wallUser.friendIterator|length }}</h4>
                </article>
            </div>
        </div>
    {% endblock %}

    {% block crud %}
    {% endblock %}

    {% block feed %}
        {% for content in listing %}
            {% include 'TrismegisteSocialBundle:Content:publishing_show.html.twig' %}
            <hr/>
        {% endfor %}
        <div id="pagination"></div>
        <div class="row">
            <div class="small-12 column">
                <a id="more-button" href="{{ path('ajax_content_more', {wallNick: wallNick, wallFilter: wallFilter, offset: pagination}) }}" class="button expand secondary">More</a>
            </div>
        </div>
    {% endblock feed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script>

        var social = {
            initLeafletShow: function () {
                $('div[data-social-status-show]').each(function () {

                    var item = $(this);
                    var origin = {lng: item.data('socialStatusLng'), lat: item.data('socialStatusLat')};

                    var map = L.map(item.attr('id'), {
                        scrollWheelZoom: false,
                        center: origin,
                        zoom: item.data('socialStatusZoom')
                    });

                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    L.marker(origin)
                            .addTo(map)
                            .bindPopup(item.data('socialStatusMessage'))
                            .openPopup();
                    // just to be sure this attribute will not be initialized two times
                    item.removeAttr('data-social-status-show');
                });
            },
            transformLikeToAjax: function ()
            {
                $(document).on('click', 'a[data-like-ajaxed]', function (event) {
                    event.stopPropagation();
                    event.preventDefault();
                    $.ajax({
                        url: this.href,
                        type: 'POST'
                    }).done(function (response) {
                        $(event.currentTarget).replaceWith(response);
                        alertify.success("Like updated");
                    });
                });
            },
            initConfirmDelete: function () {
                $(document).on('click', 'a[data-social-delete]', function (event) {
                    event.stopPropagation();
                    event.preventDefault();
                    var button = this;
                    alertify.confirm("Are you sure you want to delete this entry ?", function (e) {
                        if (e) {
                            window.location.href = button.href;
                        }
                    });
                });
            }
        };

        $(document).ready(function () {

            $('#more-button').on('click', function (event) {
                $.ajax({
                    url: event.target.href,
                    success: function (data) {
                        if ('' != data) {
                            $('#pagination').append(data);
                            var old = event.target.href;
                            event.target.href = old.replace(/(\d+)$/, function (match, p1, offset, str) {
                                return {{ pagination }}+Number(p1);
                            })
                            $(document).foundation() // seems to be the right way according to #3885
                            social.initLeafletShow();
                        } else {
                            $('#more-button').hide();
                        }
                    }
                })
                event.preventDefault();
            })

            social.initLeafletShow();
            social.transformLikeToAjax();
            social.initConfirmDelete();

        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% endblock %}
