{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block meta_title %}
    {{ parent() }} | {{ wallNick }}'s wall
{% endblock %}

{% block content %}

    {% block wall_profile %}
        {% if wallNick != app.user.username %}
            <div class="pure-g entry">
                <div class="pure-u-1-1 pure-u-md-1-3 pure-u-lg-1-4">
                    <header>
                        <a href="{{ path('netizen_show', {author: wallNick} ) }}"><img src="{{ path('netizen_avatar', {filename: wallUser.author.avatar} ) }}"  class="pure-img rounded"/></a>
                    </header>
                </div>
                <div class="pure-u-1-1 pure-u-md-2-3 pure-u-lg-3-4 profile-body">
                    <article>
                        {% set author = wallUser.author %}
                        {% set profile = wallUser.profile %}
                        <h2>{{ author.nickname }}</h2>
                        <h3>{{ profile.fullName }}</h3>
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                Gender: {{ profile.gender|gender }}<br/>
                                Location: {{ profile.location }}<br/>
                                Born the: {{ profile.dateOfBirth|date("Y/m/d") }}<br/>
                                Born at: {{ profile.placeOfBirth }}
                            </div>
                            <div class="pure-u-1 pure-u-md-1-2">
                                Email (not public): {{ profile.email }}<br/>
                                Registered at: {{ profile.joinedAt|timeago }}<br/>
                                Content counter: {{ profile.publishingCounter }}<br/>
                                Commentary counter: {{ profile.commentaryCounter }}
                            </div>
                        </div>
                        <nav>
                            {% include 'TrismegisteSocialBundle:Netizen:social_network_action.html.twig' %}
                        </nav>
                        <div class="pure-g text-center">
                            <div class="pure-u-1-3">
                                <h3>Following</h3>
                                <h1>{{ wallUser.followingCount }}</h1>
                            </div>
                            <div class="pure-u-1-3">
                                <h3>Followers</h3>
                                <h1>{{ wallUser.followerCount }}</h1>
                            </div>
                            <div class="pure-u-1-3">
                                <h3>Friends</h3>
                                <h1>{{ wallUser.friendIterator|length }}</h1>
                            </div>
                        </div>

                    </article>
                </div>
            </div>
            <hr/>
        {% endif %}
    {% endblock %}

    {% block crud %}
    {% endblock %}

    {% block feed %}
        {% include 'TrismegisteSocialBundle:Content:ajax/index_more.html.twig' %}
        <div id="pagination"></div>
        <div class="pure-g entry">
            <div class="pure-u-1">
                <a id="more-button" href="{{ path('ajax_content_more', {wallNick: wallNick, wallFilter: wallFilter, offset: pagination}) }}" class="pure-button">More</a>
            </div>
        </div>
    {% endblock feed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script>

        var social = {
            initLeafletShow: function () {
                $('div[data-social-status-show]').each(function () {

                    var item = $(this);
                    var origin = {lng: item.data('socialStatusLng'), lat: item.data('socialStatusLat')};

                    var map = L.map(item.attr('id'), {
                        scrollWheelZoom: false,
                        center: origin,
                        zoom: item.data('socialStatusZoom')
                    });

                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    L.marker(origin)
                            .addTo(map)
                            .bindPopup(item.data('socialStatusMessage'))
                            .openPopup();
                    // just to be sure this attribute will not be initialized two times
                    item.removeAttr('data-social-status-show');
                });
            },
            transformLikeToAjax: function () {
                $(document).on('click', 'a[data-like-ajaxed]', function (event) {
                    event.stopPropagation();
                    event.preventDefault();
                    $.ajax({
                        url: this.href,
                        type: 'POST'
                    }).done(function (response) {
                        $(event.currentTarget).replaceWith(response);
                        alertify.success("Like updated");
                    });
                });
            },
            initConfirmDelete: function () {
                $(document).on('click', 'a[data-social-delete]', function (event) {
                    event.stopPropagation();
                    event.preventDefault();
                    var button = this;
                    alertify.confirm("Are you sure you want to delete this entry ?", function (e) {
                        if (e) {
                            window.location.href = button.href;
                        }
                    });
                });
            }
        };

        $(document).ready(function () {

            $('#more-button').on('click', function (event) {
                $.ajax({
                    url: event.target.href,
                    success: function (data) {
                        if ('' != data) {
                            $('#pagination').append(data);
                            var old = event.target.href;
                            event.target.href = old.replace(/(\d+)$/, function (match, p1, offset, str) {
                                return {{ pagination }}+Number(p1);
                            })
                            social.initLeafletShow();
                        } else {
                            $('#more-button').hide();
                        }
                    }
                })
                event.preventDefault();
            })

            social.initLeafletShow();
            social.transformLikeToAjax();
            social.initConfirmDelete();

        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% endblock %}
