{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block meta_title %}
    {{ parent() }} | {{ wallNick }}'s wall
{% endblock %}

{% block content %}

    {% block wall_profile %}
        {% if wallNick != app.user.username %}
            {% include 'TrismegisteSocialBundle:Content:netizen_header.html.twig' %}
            <hr/>
        {% endif %}
    {% endblock %}

    {% block crud %}
    {% endblock %}

    {% block feed %}
        {% include 'TrismegisteSocialBundle:Content:ajax/index_more.html.twig' %}
        <div id="pagination"></div>
        <div class="pure-g entry">
            <div class="pure-u-1">
                <a id="more-button" href="{{ path('ajax_content_more', {wallNick: wallNick, wallFilter: wallFilter, offset: pagination}) }}" class="pure-button">More</a>
            </div>
        </div>
    {% endblock feed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/init.js') }}"></script>
    <script>
        $(document).ready(function () {

            $('#more-button').on('click', function (event) {
                $.ajax({
                    url: event.target.href,
                    success: function (data) {
                        if ('' != data) {
                            $('#pagination').append(data);
                            var old = event.target.href;
                            event.target.href = old.replace(/(\d+)$/, function (match, p1, offset, str) {
                                return {{ pagination }}+Number(p1);
                            })
                            social.initLeafletShow();
                            social.initLightBox();
                        } else {
                            $('#more-button').hide();
                        }
                    }
                })
                event.preventDefault();
            })

            social.initLeafletShow();
            social.transformLikeToAjax();
            social.initConfirmDelete();
            social.initReportPopup();
            social.initGetCommentaryAjax();
            social.initLightBox();
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% endblock %}
