{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block feed %}
{% for content in listing %}
    {% include 'TrismegisteSocialBundle:Content:simplepost_show.html.twig' %}
    <hr/>
{% endfor %}
<div id="pagination"></div>
<div class="row">
    <div class="small-12 column">
        <a id="more-button" href="{{ path('ajax_content_more', {wallNick: wallNick, wallFilter: wallFilter, offset: pagination}) }}" class="button expand secondary">More</a>
    </div>
</div>
{% endblock %}
        
{% block navbar %}
<a href="{{ path('netizen_show', {author: wallNick} ) }}"><img src="{{ path('netizen_avatar', {filename: wallUser.author.avatar} ) }}"/></a>
<hr/>
<div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
    <section class="section">
        <h4 class="title"><a href="{{ path('netizen_show', {author: wallNick} ) }}">{{ wallUser.profile.fullName }}</a></h4>
        {% if app.user != wallUser %}
            {% include 'TrismegisteSocialBundle:Netizen:social_network_action.html.twig' %}
        {% endif %}
    </section>
    <section class="section">
        <h5 class="title">
            <a href="{{ path('wall_index', { wallNick: wallNick, wallFilter: 'following' }) }}">Following</a>
            <a class="label right secondary" href="#">{{ wallUser.followingCount }}</a>
        </h5>
    </section>
    <section class="section clearfix">
        <h5 class="title">
            <a href="{{ path('wall_index', { wallNick: wallNick, wallFilter: 'follower' }) }}">Followers</a>
            <a class="label right secondary" href="#">{{ wallUser.followerCount }}</a>
        </h5>
    </section>
    <section class="section clearfix">
        <h5 class="title">
            <a href="{{ path('wall_index', { wallNick: wallNick, wallFilter: 'friend' }) }}">Friends</a>
            <a class="label right secondary" href="#">{{ wallUser.friendIterator|length }}</a>
        </h5>
    </section>
    <section class="section clearfix">
        <h5 class="title">
            Likes
            <a class="label right secondary" href="#">{{ wallUser.fanCount }}</a>
        </h5>
    </section>
</div>
{% endblock navbar %}
    
{% block javascripts %}
    {{ parent() }}
<script>
    $(document).ready(function() {
        
        $('#more-button').on('click', function(event) {
            $.ajax({
                url: event.target.href,
                success: function(data) {
                    if ('' != data) {
                        $('#pagination').append(data)
                        var old = event.target.href
                        event.target.href = old.replace(/(\d+)$/, function(match, p1, offset, str) { return {{ pagination }}+Number(p1) })
                        $(document).foundation() // seems to be the right way according to #3885
                    } else {
                        $('#more-button').hide()
                    }
                }
            })
            event.preventDefault()
        })

    })
</script>
{% endblock %}