{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block meta_title %}
    {{ parent() }} | {{ wallNick }}'s wall
{% endblock %}

{% block content %}

    {% block wall_profile %}
        {% if wallNick != app.user.username %}
            {% include 'TrismegisteSocialBundle:Content:netizen_header.html.twig' %}
            <hr/>
        {% endif %}
    {% endblock %}

    {% block crud %}
    {% endblock %}

    {% block feed %}
        {% set contentCount = 0 %}
        {% for content in listing %}
            {% include 'TrismegisteSocialBundle:Content:publishing_show.html.twig' %}
            {% set contentCount = contentCount + 1 %}
            <hr/>
        {% endfor %}
        {% if contentCount == 0 %}
            {{ render(controller('TrismegisteSocialBundle:Discover:defaultContentIfEmpty')) }}
        {% else %}
            <div id="pagination"></div>
            <div class="pure-g entry">
                <div class="pure-u-1 text-center">
                    <a id="more-button" href="{{ path('ajax_content_more', {wallNick: wallNick, wallFilter: wallFilter, offset: pagination}) }}" class="pure-button">More</a>
                </div>
            </div>
        {% endif %}
    {% endblock feed %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/trismegistesocial/js/purecss/ui.js'
        'bundles/trismegistesocial/js/jquery/jquery.min.js'
        'bundles/trismegistesocial/js/alertify/alertify.js'
        'bundles/trismegistesocial/js/beautiful/jquery.dropdown.min.js'
        'bundles/trismegistesocial/js/duncanmcdougall/jquery.lightbox.min.js'
        'bundles/trismegistesocial/js/fluidvids/fluidvids.min.js'
        'bundles/trismegistesocial/js/init.js'
        output='assetic/front.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% include 'TrismegisteSocialBundle::js_flash.html.twig' %}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script>
        $(document).ready(function () {

            social.initGetMoreContent({{pagination}});
            social.transformLikeToAjax();
            social.transformRepeatToAjax();
            social.initGetCommentaryAjax();
            social.initLightBox();
            social.initFluidVideo();
            social.initConfirmDelete();
            social.initReportPopup();
            social.initFormFocus();
            social.initPrivateMessageWarning('{{ path('private_get_lastpm') }}');
            try {
                social.initLeafletShow();
            } catch (e) {
                // to prevent to screw up all js if leaflet is down
            }
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'bundles/trismegistesocial/css/pure-min.css'
        'bundles/trismegistesocial/css/grids-responsive-min.css'
        'bundles/trismegistesocial/css/side-menu.css'
        'bundles/trismegistesocial/css/main.css'
        'bundles/trismegistesocial/css/fontello.css'
        'bundles/trismegistesocial/css/alertify.css'
        'bundles/trismegistesocial/css/jquery.dropdown.css'
        'bundles/trismegistesocial/css/jquery.lightbox.css'
        filter='cssrewrite'
        output="assetic/front.css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% endblock %}
