{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block feed %}
{% for content in listing %}
    {% include 'TrismegisteSocialBundle:Content:simplepost_show.html.twig' %}
    <hr/>
{% endfor %}
<div id="pagination"></div>
<div class="row">
    <div class="small-12 column">
        <a id="more-button" href="{{ path('ajax_content_more', {offset: pagination}) }}" class="button expand secondary">More</a>
    </div>
</div>
{% endblock %}
        
{% block navbar %}
<a href="{{ path('netizen_show', {author: current_user.author.nickname} ) }}"><img src="{{ path('netizen_avatar', {filename: current_user.author.avatar} ) }}"/></a>
<h5><a href="{{ path('netizen_show', {author: current_user.author.nickname} ) }}">{{ current_user.author.nickname }}</a></h5>
<ul class="inline-list">
    <li><small>Likes: {{ current_user.fanCount }}</small></li>
    <li><small>Followers: {{ current_user.followerCount }}</small></li>
    <li><small>Following: {{ current_user.followingCount }}</small></li>
</ul>
<a href="{{ path('netizen_famous', {id: current_user.id, action: 'add'}) }}" class="button tiny">Like</a>
<a href="{{ path('netizen_follow', {id: current_user.id, action: 'add'}) }}" class="button tiny">Follow</a>
<div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
    <section class="section">
        <h5 class="title"><a href="#">History</a></h5>
    </section>
    <section class="section">
        <h5 class="title"><a href="#">Section 2</a></h5>
    </section>
    <section class="section">
        <h5 class="title"><a href="#">Section 3</a></h5>
    </section>
    <section class="section">
        <h5 class="title"><a href="#">Section 4</a></h5>
    </section>
    <section class="section">
        <h5 class="title"><a href="#">Section 5</a></h5>
    </section>
    <section class="section">
        <h5 class="title"><a href="#">Section 6</a></h5>
    </section>
</div>
{% endblock navbar %}
    
{% block javascripts %}
    {{ parent() }}
<script>
    $(document).ready(function() {
        
        $('#more-button').on('click', function(event) {
            $.ajax({
                url: event.target.href,
                success: function(data) {
                    $('#pagination').append(data)
                    var old = event.target.href
                    event.target.href = old.replace(/(\d+)$/, function(match, p1, offset, str) { return {{ pagination }}+Number(p1) })
                }
            })
            event.preventDefault()
        })

    })
</script>
{% endblock %}