{% extends 'TrismegisteSocialBundle::layout.html.twig' %}

{% block page_title %}
{{ parent() }} | {{ wallNick }}'s wall
{% endblock %}

{% block feed %}
{% for content in listing %}
    {% include choose_template(content) %}
    <hr/>
{% endfor %}
<div id="pagination"></div>
<div class="row">
    <div class="small-12 column">
        <a id="more-button" href="{{ path('ajax_content_more', {wallNick: wallNick, wallFilter: wallFilter, offset: pagination}) }}" class="button expand secondary">More</a>
    </div>
</div>
{% endblock %}

{% block navbar %}
<a href="{{ path('netizen_show', {author: wallNick} ) }}"><img src="{{ path('netizen_avatar', {filename: wallUser.author.avatar} ) }}"/></a>
<hr/>
{% include 'TrismegisteSocialBundle:Content:index_navbar.html.twig' %}
{% endblock navbar %}

{% block javascripts %}
    {{ parent() }}
<script>
    jQuery.fn.leaflet = function() {
        $('div[data-social-status-show]').each(function(item) {

            var origin = { lng: item.dataset.socialStatusLng, lat:item.dataset.socialStatusLat };

            var map = L.map(item.attr('id'), {
                    scrollWheelZoom: false,
                    center: origin,
                    zoom: item.dataset.socialStatusZoom
            });

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker(origin)
                .addTo(map)
                .bindPopup(item.dataset.socialStatusMessage)
                .openPopup();
        });

    }

    $(document).ready(function() {

        $('#more-button').on('click', function(event) {
            $.ajax({
                url: event.target.href,
                success: function(data) {
                    if ('' != data) {
                        $('#pagination').append(data)
                        var old = event.target.href
                        event.target.href = old.replace(/(\d+)$/, function(match, p1, offset, str) { return {{ pagination }}+Number(p1) })
                        $(document).foundation() // seems to be the right way according to #3885
                    } else {
                        $('#more-button').hide()
                    }
                }
            })
            event.preventDefault()
        })

        $(document).leaflet();

    })
</script>
{% endblock %}