{# An entry full of information of a Netizen #}
<div class="pure-g entry netizen">
    <div class="pure-u-1-1 pure-u-md-1-3 pure-u-lg-1-4">
        <header>
            <a href="{{ path('netizen_show', {author: wallNick} ) }}"><img src="{{ path('picture_get', {storageKey: wallUser.author.avatar, size:'full'} ) }}"  class="pure-img rounded"/></a>
        </header>
    </div>
    <div class="pure-u-1-1 pure-u-md-2-3 pure-u-lg-3-4 profile-body">
        {% set author = wallUser.author %}
        {% set profile = wallUser.profile %}
        <div class="pure-g">
            <div class="pure-u-4-5">
                <article>
                    <h2>{{ author.nickname }}</h2>
                </article>
            </div>
            <div class="pure-u-1-5">
                <h2 class="text-right"><i class="icon-cog"></i></h2>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-2">
                <article>
                    Hello, I'm {{ profile.fullName }}. I'm living at {{ profile.location }}.
                    I was born the {{ profile.dateOfBirth|date("Y/m/d") }} at {{ profile.placeOfBirth }}.
                    If you like me, click below :<br/>
                    {% include 'TrismegisteSocialBundle:Netizen:like_button.html.twig' %}
                </article>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                <article>
                    I registered {{ profile.joinedAt|timeago }}, since I've posted
                    {{ profile.publishingCounter }} contents and made
                    {{ profile.commentaryCounter }} commentaries.
                    For following me, click below :<br/>
                    {% include 'TrismegisteSocialBundle:Netizen:follow_button.html.twig' %}
                </article>
            </div>
        </div>
        <div class="pure-g text-center">
            <div class="pure-u-1-3">
                <h3><a href="{{ path('wall_index', {wallNick: wallNick, wallFilter:'following'}) }}">Following</a></h3>
                <h1>{{ wallUser.followingCount }}</h1>
            </div>
            <div class="pure-u-1-3">
                <h3><a href="{{ path('wall_index', {wallNick: wallNick, wallFilter:'follower'}) }}">Followers</a></h3>
                <h1>{{ wallUser.followerCount }}</h1>
            </div>
            <div class="pure-u-1-3">
                <h3><a href="{{ path('wall_index', {wallNick: wallNick, wallFilter:'friend'}) }}">Friends</a></h3>
                <h1>{{ wallUser.friendIterator|length }}</h1>
            </div>
        </div>

    </div>
</div>