{# navbar of a published content #}
<nav>
    <div class="pub-action pure-g">
        <div class="pure-u-1-4">
            <a href="{{ path('pub_commentary_add', {wallNick: wallNick, wallFilter: wallFilter, id: content.id}) }}#anchor-form" title="Reply">
                <i class="icon-reply"></i>{{ content.commentaryCount }}
            </a>
        </div>
        <div class="pure-u-1-4">
            <a
                {% if not is_granted('OWNER', content) %}
                    data-repeat-ajaxed="{{ path('pub_repeat_create', {wallNick: wallNick, wallFilter: wallFilter, id: content.id} ) }}"
                    title="Repeat"
                    href="#"
                {% endif %}
                >
                <i class="icon-retweet"></i>{{ content.getRepeatedCount() }}
            </a>
        </div>
        <div class="pure-u-1-4">
            {% include 'TrismegisteSocialBundle:Content:ajax/publishing_like_button.html.twig' %}
        </div>
        {% set dropdown_id = 'drop' ~ content.id %}
        <div class="pure-u-1-4">
            <a href="#" data-dropdown="#{{ dropdown_id }}" title="More..."><i class="icon-cog"></i></a>
        </div>
    </div>
    <form action="{{ path('publishing_delete', {id: content.id}) }}"
          method="POST"
          style="display:none;"
          id="form-delete-{{content.id}}">
        <input type="hidden" name="_method" value="DELETE"/>
    </form>
    <div id="{{ dropdown_id }}" class="dropdown dropdown-anchor-right dropdown-tip">
        <ul class="dropdown-menu">
            <li><a href="{{ path('pub_permalink', {id: content.id}) }}">Permalink</a></li>
                {% if is_granted('OWNER', content) %}
                    {% if content.editable %}
                    <li><a href="{{ path('publishing_edit', {id: content.id}) }}#anchor-form">Edit</a></li>
                    {% endif %}
                <li><a href="#" data-social-delete="form-delete-{{content.id}}">Delete</a></li>
                {% endif %}
            <li><a data-social-report href="{{ path('pub_abusivereport', {action: 'add', wallNick: wallNick, wallFilter: wallFilter, id: content.id}) }}">Report abuse/spam</a></li>
        </ul>
    </div>
</nav>