{# Template for viewing one publishing root entity subclass #}
<div class="pure-g entry publishing">
    <a id="anchor-{{ content.id }}"></a>
    {% if content.isReportedBy(app.user.author) %}
        {% include 'TrismegisteSocialBundle:Content:reported_publishing.html.twig' %}
    {% else %}
        <div class="pure-u-1-4 pure-u-md-1-5">
            <header>
                {% include 'TrismegisteSocialBundle:Netizen:avatar_popup.html.twig' with {author: content.author } %}
            </header>
        </div>
        <div class="pure-u-1-1 pure-u-md-4-5">
            <article>
                <h4>{{ content.author.nickname }}<time datetime="{{ content.lastEdited|date() }}">{{ content.lastEdited | timeago }}</time></h4>
                        {% include 'TrismegisteSocialBundle:Content:show/' ~ choose_template(content) %}
                        {% include 'TrismegisteSocialBundle:Content:publishing_navbar.html.twig' %}
            </article>
        </div>
    {% endif %}
</div>

<div class="pure-g entry">
    <div class="pure-u-1">
        {% block commentary_create %}
        {% endblock %}
    </div>
</div>
{% set commIt = content.commentaryIterator %}
{% set commItCount = commIt.count %}
{% if commItCount > 0 %}
    {% if commentary_preview is defined %}
        {% set commIt = commIt|slice(0, commentary_preview) %}
    {% endif %}
    <div class="pure-g entry">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-4-5" data-social-commentary-lst="{{ content.id }}">
            {% include 'TrismegisteSocialBundle:Content:ajax/commentary_list.html.twig' %}
            {% if commentary_preview is defined and commItCount>commentary_preview %}
                <div class="pure-g">
                    <div class="pure-u-1-4 pure-u-md-1-5"></div>
                    <div class="pure-u-1-1 pure-u-md-4-5">
                        <a data-social-commentary-ajax="{{ content.id }}"
                           href="{{ path('ajax_commentary_more', {wallNick: wallNick, wallFilter: wallFilter, id: content.id}) }}"
                           class="pure-button button-tiny">Show all commentaries</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}