{# navbar of a published content #}
<nav>
    <div class="pub-action pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li>
                <a href="{{ path('pub_commentary_add', {wallNick: wallNick, wallFilter: wallFilter, id: content.id}) }}#anchor-{{ content.id }}" title="Reply">
                    <i class="icon-reply"></i>{{ content.commentaryCount }}
                </a>
            </li>
            <li>
                <a
                    {% if not is_granted('OWNER', content) %}
                        href="{{ path('pub_repeat_create', {wallNick: wallNick, wallFilter: wallFilter, id: content.id} ) }}" title="Repeat"
                    {% endif %}
                    >
                    <i class="icon-retweet"></i>{{ content.getRepeatedCount() }}
                </a>
            </li>
            <li>
                {% include 'TrismegisteSocialBundle:Content:ajax/publishing_like_button.html.twig' %}
            </li>
            {% set dropdown_id = 'drop' ~ content.id %}
            <li><a href="#" data-dropdown="#{{ dropdown_id }}" title="More..."><i class="icon-cog"></i></a></li>
        </ul>
    </div>
    <div id="{{ dropdown_id }}" class="dropdown dropdown-anchor-right dropdown-tip">
        <ul class="dropdown-menu">
            <li><a href="{{ path('pub_permalink', {id: content.id}) }}">Permalink</a></li>
                {% if is_granted('OWNER', content) %}
                    {% if content.editable %}
                    <li><a href="{{ path('publishing_edit', {id: content.id}) }}#anchor-form">Edit</a></li>
                    {% endif %}
                <li><a href="{{ path('publishing_delete', {id: content.id}) }}" data-social-delete>Delete</a></li>
                {% endif %}
            <li><a data-social-report href="{{ path('pub_abusivereport', {action: 'add', wallNick: wallNick, wallFilter: wallFilter, id: content.id}) }}">Report abuse/spam</a></li>
        </ul>
    </div>
</nav>