{# Template for viewing one simple post root-entity #}
<div class="row">
    <div class="large-2 columns small-3">
        <img src="http://placehold.it/80x80&text=[img]"/>
        
    </div>
    <div class="large-10 columns">
        <h6 class="subheader">{{ content.author.nickname }} <small class="right">{{ content.lastEdited | date('Y/m/d') }}</small></h6>
        <h5><a href="{{ path('publishing_show', {pk: content.id}) }}">{{ content.title }}</a></h5>
        <p>{{ content.body }}</p>        
        <ul class="inline-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
        </ul>
        {% if content.commentary|length > 0 %}
            <h6>{{ content.commentary|length }} Comments</h6>
            {% for comment in content.commentary %}
                {% include 'TrismegisteSocialBundle:Content:commentary.html.twig' %}
            {% endfor %}
        {% endif %}
    </div>
</div>
