{# Template for viewing one simple post root-entity #}
<div class="row">
    <div class="large-2 columns small-3">
        <img src="http://placehold.it/80x80&text=[img]"/>
        
    </div>
    <div class="large-10 columns">
        <a href="#" class="right" data-options="align:left" data-dropdown="drop{{ content.id }}"><i class="fi-widget"></i></a>
        <ul id="drop{{ content.id }}" class="f-dropdown" data-dropdown-content>
            <li><a href="{{ path('simplepost_edit', {id: content.id}) }}">Edit</a></li>
            <li><a href="{{ path('simplepost_delete', {id: content.id}) }}">Delete</a></li>
            <li><a href="#">Report</a></li>
        </ul>
        <a id="anchor-{{ content.id }}"></a>
        <h6 class="subheader">{{ content.author.nickname }} <small>{{ content.lastEdited | date('Y/m/d') }}</small></h6>
        <h4>{{ content.title }}</h4>
        <p>{{ content.body }}</p>        
        <ul class="inline-list">
            <li><a href="">Reply</a></li>
            <li>&middot</li>
            <li>{{ content.fanCount }}</li>
            <li><a href="{{ path('famous_add', {id: content.id}) }}"><i class="fi-like"></i></a></li>
            <li><a href="{{ path('famous_remove', {id: content.id}) }}"><i class="fi-dislike"></i></a></li>
        </ul>
        {% if content.commentary|length > 0 %}
            <h6>{{ content.commentary|length }} Comments</h6>
            {% for comment in content.commentary %}
                {% include 'TrismegisteSocialBundle:Content:commentary_show.html.twig' %}
            {% endfor %}
        {% endif %}
    </div>
</div>
