{# Template for viewing one simple post root-entity #}
<div class="row">
    <div class="large-2 columns small-3">
        <img src="http://placehold.it/80x80&text=[img]"/>
    </div>
    <div class="large-10 columns">
        {% set dropdown_id = 'drop' ~ content.id %}
        <a href="#" class="right" data-options="align:left" data-dropdown="{{ dropdown_id }}"><i class="fi-widget"></i></a>
        <ul id="{{ dropdown_id }}" class="f-dropdown" data-dropdown-content>
            <li><a href="{{ path('simplepost_edit', {id: content.id}) }}">Edit</a></li>
            <li><a href="{{ path('simplepost_delete', {id: content.id}) }}">Delete</a></li>
            <li><a href="#">Report</a></li>
        </ul>
        <a id="anchor-{{ content.id }}"></a>
        <h6 class="subheader">{{ content.author.nickname }} <small>{{ content.lastEdited | timeago }}</small></h6>
        <h4>{{ content.title }}</h4>
        <p>{{ content.body }}</p>
        
        <a href="{{ path('pub_commentary_add', {id: content.id}) }}" class="button tiny">Reply</a>
        {% include 'TrismegisteSocialBundle:Content:simplepost_like_button.html.twig' %}        

        {% block commentary_create %}{% endblock %}
        {% if content.commentary|length > 0 %}
            <h6>{{ content.commentary|length }} Comments</h6>
            {% for comment in content.commentary %}
                {% include 'TrismegisteSocialBundle:Content:commentary_show.html.twig' %}
            {% endfor %}
        {% endif %}
    </div>
</div>
