{% extends 'TrismegisteSocialBundle:Admin:layout.html.twig' %}

{% block meta_title %}
    {{ parent() }} | Coupons
{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1">
            <table class="pure-table pure-table-horizontal pure-table-striped">
                <tr>
                    <th>Code</th>
                    <th>Duration in days</th>
                    <th>Expired at</th>
                    <th>Used counter</th>
                    <th>Actions</th>
                </tr>
                {% for coupon in listing %}
                    <tr>
                        <td>{{ coupon.hashKey }}</td>
                        <td>{{ coupon.durationValue }}</td>
                        <td>{{ coupon.expiredAt|date('F j, Y') }}</td>
                        <td>{{ coupon.usedCounter }}/{{ coupon.maximumUse }}</td>
                        <td>
                            <a href="{{ path('admin_coupon_edit', {id: coupon.id}) }}" title="Edit"><i class="icon-pencil"></i></a>
                            <a href="{{ path('admin_coupon_delete', {id: coupon.id}) }}" title="Delete"><i class="icon-trash-empty"></i></a>
                            <a href="{{ path('guest_coupon_landing', {code: coupon.hashKey}) }}" title="Link"><i class="icon-eye"></i></a>
                            <a data-generate-flyer="{{ url('guest_coupon_landing', {code: coupon.hashKey}) }}" href="#" title="Flyer"><i class="icon-eye"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(document).on('click', 'a[data-generate-flyer]', function (event) {
                event.stopPropagation();
                event.preventDefault();
                var button = this;

                console.log(this.data('generateFlyer'))
            })
        })
    </script>
    <script src="{{ asset('bundles/trismegistesocial/js/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('bundles/trismegistesocial/js/pdfmake/vfs_fonts.js') }}"></script>
{% endblock %}