{% extends 'TrismegisteSocialBundle:Admin:layout.html.twig' %}

{% block meta_title %}
    {{ parent() }} | Coupons
{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1">
            <table class="pure-table pure-table-horizontal pure-table-striped">
                <tr>
                    <th></th>
                    <th>Code</th>
                    <th>Duration in days</th>
                    <th>Expired at</th>
                    <th>Used counter</th>
                    <th>Actions</th>
                </tr>
                {% for coupon in listing %}
                    <tr>
                        <td><input type="checkbox" class="action-selection"/></td>
                        <td>{{ coupon.hashKey }}</td>
                        <td>{{ coupon.durationValue }}</td>
                        <td>{{ coupon.expiredAt|date('F j, Y') }}</td>
                        <td>{{ coupon.usedCounter }}/{{ coupon.maximumUse }}</td>
                        <td>
                            <i class="icon-eye"></i>
                            <i class="icon-pencil"></i>
                            <i class="icon-trash-empty"></i><br/>
                            <a href="{{ path('guest_coupon_landing', {code: coupon.hashKey}) }}">Url</a> Flyer
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}