{% extends 'TrismegisteSocialBundle:Admin:layout.html.twig' %}

{% block page_title %}
    {{ parent() }} | Coupons
{% endblock %}

{% form_theme form '::inline_form.html.twig' %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1">
            {{ form(form) }}
        </div>
    </div>

    <div class="pure-g">
        <div class="pure-u-1">
            <table class="pure-table pure-table-horizontal pure-table-striped">
                <tr>
                    <th style="width: 3em;"></th>
                    <th>h</th>
                    <th>u</th>
                </tr>
                {% for coupon in listing %}
                    <tr>
                        <td><input type="checkbox" class="action-selection"/></td>
                        <td>{{ coupon.hashKey }}</td>
                        <td>{{ coupon.duration }}</td>
                        <td>{{ coupon.expiredAt|date() }}</td>
                        <td>{{ coupon.usedCounter }}/{{ coupon.maximumUse }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}